# Auto detect text files and perform LF normalization
* text=auto

# Binary file types
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.pdf   binary
*.docx  binary
*.pptx  binary
*.xlsx  binary
*.rda   binary
*.rds   binary
