/*-- scss:defaults --*/

$col-primary: #2E4473;
$col-primary-light: #E4EDF3;
$col-secondary: #A1B8CF;
$col-secondary-bg: #F5F9FB;
$col-dark-grey: #C5C5C5;
$col-light-grey: #F8F8F8;
$col-red-prim : #C0392B;
$col-red-sec : #F9EBEA;
$col-yellow-prim : #FAB872;
$col-yellow-sec : #FEF6E7;
$col-green-prim : #588157;
$col-green-sec : #e9f5eb;
$body-bg: white;

/* Presentation Font size and color */
$presentation-font-size-root: 35px;
$presentation-font-smaller: 0.8;

$presentation-h1-font-size: 80px;
$presentation-h2-font-size: 65px;
$presentation-h3-font-size: 40px;
$presentation-h4-font-size: 40px;

$presentation-heading-color: $col-primary;

/* tabsets */
$tabset-border-color: $col-primary;

/*layout */
$presentation-title-slide-text-align: left;

/* titles font size and weight*/
$h1-font-size: 30px;
$h1-font-weight: 400;

$h2-font-size: 27px; 
$h2-font-weight: 300;

$h3-font-size: 25px; 
$h3-font-weight: 300;

$h4-font-size: 23px; 
$h4-font-weight: 300;

/* Table of content */
$toc-color: $col-primary;
$toc-inactive-color: $col-light-grey;
$content-padding-top: 1px;

/* Table of content book */
$sidebar-item-color:red;

/* font-weights */
$weight-title: 600;

$navbar-bg: $col-secondary-bg;

/* inline code */
$code-bg: $col-primary-light;
$code-color: $col-primary; 

/* code blocks*/
$code-block-bg: $col-secondary-bg;
$code-block-border-color: $col-primary;

/*-- scss:rules --*/

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 16px;
}

/* ------------------------------------------- Text ----------------- */
p {
  line-height: 28px;
}
p:not(:first-child) {
  margin-top: 12px;
}
a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

code {
  border-radius: 5px;
  color:$col-primary;
}

/* ------------------------------------------- Titles ----------------- */
h1.title {
  margin-block-start: 20px;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: $col-primary;
}

h1 {
  // margin-block-start: 84px;
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: $col-primary;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  color: $col-primary;
  /* margin-top: 190px !important; */
  // margin-block-start: 20px;
  // border-bottom: 0.1px solid rgb(232, 232, 232);
  // padding-bottom: 0.5rem;
  font-size: 1.875rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  transition: color 0.2s ease;
}
h2:first-of-type {
  margin-top: 0;
}
h3 {
  color: $col-primary;
  // margin-top: 2rem;
  // margin-block-start: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.02em;
}

h4 {
  // margin-top: 2rem;
  // margin-block-start: 20px;
  font-size: 1.5rem;
  font-weight: 400;
  color: $col-primary;
  letter-spacing: -0.02em;
}


// h2 {
//   margin-top: 190px !important;
//   margin-block-start: 20px;
//   border-bottom: 0.1px solid rgb(232, 232, 232);
//   padding-bottom: 0.5rem;
//   font-size: 1.875rem;
//   font-weight: $h2-font-weight;
//   color: $col-primary;
//   letter-spacing: -0.02em;
//   transition: color 0.2s ease;
// }
// h2:first-of-type {
//   margin-top: 0;
// }

// h3 {
//   margin-top: 2rem;
//   margin-block-start: 20px;
//   font-size: 1.5rem;
//   font-weight: $h3-font-weight;
//   color: $col-primary;
//   letter-spacing: -0.02em;
// }



/* ------------------------------------------- Header parts ----------------- */

p.subtitle {
  font-style: italic;
  color: darken($col-dark-grey, 50%);
}

.author {
  margin-bottom: 0;
}



/* ------------------------------------------- Callouts ----------------- */

.blockquote {
  font-size: 1em;
  color: $col-primary;
  border-left-color: $col-primary;
}

div.callout-note.callout{
  border-left-color: $col-primary;
  background-color: $col-secondary-bg;
  border-radius: 10px;
}

div.callout-caution.callout{
  border-left-color: $col-yellow-prim;
  background-color: $col-yellow-sec;
  border-radius: 10px;
}

div.callout-important.callout{
  border-left-color: $col-red-prim;
  background-color: $col-red-sec;
  border-radius: 10px;
}

div.callout-tip.callout{
  border-left-color: $col-green-prim;
  background-color: $col-green-sec;
  border-radius: 10px;
}


/* ------------------------------------------- TOC ----------------- */

// .sidebar nav[role="doc-toc"] ul > li > a.active,
// .sidebar nav[role="doc-toc"] ul > li > ul > li > a.active {
//   border-left: 1px solid var(--primary-color);
//   color: var(--primary-color) !important;
// }

// #TOC {
//   top: 100%;
//   position: relative;
//   transform: translate(0, -50%);
// }

h2#toc-title{
  font-weight: 700;
}

.nav-link {
  border-left-color: $col-primary ;
  border-left-width: thick;
  border-radius: 3px;
}

.nav-link:hover, .nav-link:focus, .nav-link.active {
  background-color: $col-secondary-bg;
  font-weight: 700;
}

/* Relevant for book */
.sidebar-title {
  font-weight: 700;
  color: $col-primary;
}

.sidebar-item-text:hover, .sidebar-item-text:focus, .sidebar-item-text.sidebar-link.active {
  background-color: $col-secondary-bg;
  color:$col-primary;
  font-weight: 700;
}

/* ------------------------------------------- Hyperlinks ----------------- */
p>a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  color: $col-primary;
  position: relative;
}

p>a::after {
  text-decoration: none;
  content: "";
  background: $col-green-sec;
  width: 105%;
  position: absolute;
  bottom: .5px;
  height: 5px;
  left: -2px;
  right: 0;
  z-index: -1;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

p>a:hover::after {
  height: calc(100%)
}

/* ------------------------------------------- Buttons used for tabs ----------------- */
.nav-pills .nav-link {
  color: $col-primary;
  background-color: white;
  border-color: $col-primary;
  border-radius: 4px;
}
.nav-pills .nav-link.active {
  color: white;
  background-color: $col-primary;
}
.nav-pills .nav-link {
  padding: 5px;
  margin-right: 4px;
}
ul.nav.nav-tabs {
  margin: 0px;
  border: none;
}
.tab-content {
  border: none;
  margin-top: 10px;
  padding: 0px;
}

/* ------------------------------------------- Horizontal separator ----------------- */
hr {
  margin-top: 23px;
  margin-bottom: 23px;
  border: 0;
  border-top: 1px solid black;
  width: 0;
  animation: separator-width 2s ease-in-out forwards;
}
@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 300px;
  }
}

/* ------------------------------------------- Grey sections ----------------- */
.grey-section {
  background-color: #f8f9fa;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}